pyrogram==2.0.106
pyaes==1.6.1
PySocks==1.7.1
python-telegram-bot==20.7
aiohttp==3.9.3
aiohttp-socks==0.8.4
rich==13.7.0
certifi==2024.2.2
dnspython==2.6.1
backoff==2.2.1
tenacity==8.2.3
numpy==1.26.4
pytz
requests
TgCrypto
